<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>
        Top Albums of the Week
    </h1>

    <form action="/albums" method="POST">
        Title: <input type="text" name="title">
        Artist: <input type="text" name="artist">
        Song Count (between 1 and 50): <input type="number" name="songCount" min="1" max="50" value="1">
        Album Length: <input type="text" name="length">
        Album Cover: <input type="text" name="imgUrl">
        <input type="submit">
    </form>

    <table>
        <tr>
            <th>Album Title</th>
            <th>Artist</th>
            <th>Song Count</th>
            <th>Album Length</th>
            <th>Album Cover</th>
            <th></th>
            <th>Song Titles:</th>
        </tr>

        <tr th:if="${Albums}" th:each="album : ${Albums}">
            <td th:text="${album.title}"></td>
            <td th:text="${album.artist}"></td>
            <td th:text="${album.songCount}"></td>
            <td th:text="${album.length}"></td>
            <td><img th:src="${album.imgUrl}" alt="Song Album Picture" src=""></td>
            <td th:if="${album.songs.size() > 0}" th:text="${album.songs.get(0).songTitle}"></td>
            <td>
                <form action="/album" method="GET">
                    <input type="hidden" name="albumId" th:value="${album.id}">
                    <input type="submit" value="Album Details">
                </form>
            </td>
            <td>
                <form th:action="'/albums/delete/' + ${album.id}" method="POST">
                    <input type="submit" value="This album is wack">
                </form>
            </td>
        </tr>
    </table>

</body>
</html>